* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.bold {
	font-style: bold;
}
.uppercase {
	text-transform: uppercase;
}
img {
	width: 200px;
	height: 200px;
}
/* header */

/* products */
.products > * {
	border: 5px solid grey;
	position: relative;
	
}
.products article img {
	width: 200px;
	height: 200px;
}
.products .top-img {
	position: absolute;
	opacity: 0;
}
.products .top-img:hover {
	opacity: 1;
}

/* endStrip */

.endStrip {
	width: 100%;
	height: 400px;
	background-color: gray;
	margin-top: 150px;
}

/* mobil */
@media screen and (max-width: 779px) {
	* {
		background-color: rgb(192, 212, 255);
	}
}
/* tablette */
@media screen and (min-width: 780px) and (max-width: 979px) {
	* {
		background-color: rgb(244, 244, 142);
	}
}
/* desktop */
@media screen and (min-width: 980px) {
	* {
		background-color: rgb(251, 200, 200);
	}
}