:root {
	/* logo1 and logo2*/
	--orange: #F6AA0F;
	--beige: #EBC37D;
	--lightBrown: #D79B67;
	--brown: #5C3918;
	--darckBrown: #2E1707;
	--darckBrown2: #1E0F00;


}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.bold {
	font-style: bold;
}
.uppercase {
	text-transform: uppercase;
}
img {
	width: 200px;
	height: 200px;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #000;
}
/* ----------------------------------header */
.strip {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Nav */
.big-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container {
	display: flex;
	justify-content: center;
}
.nav1 {
	width: 80%;
	height: 400px;
	display: flex;
	flex-direction: row;
}
.nav2 {
	width: 80%;
	display: flex;
	gap: 15px;
	justify-content: space-between;
}
.nav1 > * {
	flex: 1;
}
.leftPart {
	display: flex;
	gap: 15px;
	justify-content: flex-start;
	margin-top: 35px;
}
.middlePart {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.rightPart {
	display: flex;
	gap: 15px;
	justify-content: flex-end;
	margin-top: 35px;
}
/* products */
.products > * {
	position: relative;
	
}
.products article img {
	width: 200px;
	height: 200px;
}
.products .top-img {
	position: absolute;
	opacity: 0;
}
.products .top-img:hover {
	opacity: 1;
}
/* ----------------------------------main */

/* ----------------------------------footer */
/* endStrip */

.endStrip {
	width: 100%;
	height: 400px;
	background-color: gray;
	margin-top: 150px;
}

/* ----------------------------------responsive */
/* mobil */
@media screen and (max-width: 779px) {
	.strip {
		background-color: var(--lightBrown);
	}
}
/* tablette */
@media screen and (min-width: 780px) and (max-width: 979px) {
	.strip {
		background-color: var(--brown);
	}
}
/* desktop */
@media screen and (min-width: 980px) {
	.strip {
		background-color: var(--darckBrown);
		color: #fff;
	}
}